﻿@model ContactManagement.Models.Contact

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Novo Contato</h1>

<h4>Adicione as informações do novo contato nos campos abaixo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista de contatos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">

    @*$
        <div class="form-group" id="PhoneNumbers">
                <label asp-for="PhoneNumbers" class="control-label"></label>
                <input asp-for="PhoneNumbers" id="PhoneNumber" class="form-control" />
                <input type="submit" value="Adicionar Telefone" id="btnAddPhone" class="btn btn-primary" />
            </div>
        (function () {
        $("#btnAddPhone").click(function () {
            //alert("");
            var std = {};
            std.ContactID = "0";
            std.Number = $("#PhoneNumber").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddPhone")',
                data: '{std: ' + JSON.stringify(std) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                   // alert("Data has been added successfully.");
                    var rows = "<p>" + $("#PhoneNumber").val() +"</p>";
                    $('#PhoneNumbers').append(row);
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
            return false;
        });
    });*@

</script>
}
